<app-encabezado></app-encabezado>

<main class="contenedor">

  <ul class="usuarios">
    @for (usuario of usuarios; track usuario.id) {
      <li>
        <app-usuario
          [usuario]="usuario"
          [seleccionado]="usuarioSeleccionado?.id === usuario.id"
          (seleccion)="seleccionarUsuario($event)">
        </app-usuario>
      </li>
    }
  </ul>

  <div class="panel-tareas">

    @if (usuarioSeleccionado) {
      <app-tareas
        [nombre]="usuarioSeleccionado.nombre"
        [idUsuario]="usuarioSeleccionado.id">
      </app-tareas>
    }

  </div>

</main>