body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg,#2c0d45,#12071f);
  color:white;
}

main{
  display:flex;
  gap:20px;
  padding:20px;
}

#usuarios{
  list-style:none;
  padding:0;
  margin:0;
  width:250px;
}

#usuarios li{
  margin-bottom:10px;
}